@media screen and (min-width:600px) {

    header a:hover{color: var(--azul);}

    main .pulsar{
	    animation: pulsar 2s ease-in-out infinite both;
    }
    
    main #habilidades .pass span:hover{font-size: 3em;}

    main .card:hover{
        box-shadow: 0px 0px 5px var(--azul);
        background-color: var(--anil);
    }

    main .card button:hover{
        background-color: var(--azul);
        color: var(--anil);
    }
    
    main .card:hover #info{
        height: 170px;
    }
}

@keyframes pulsar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
  }
  