@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;900&family=Outfit&display=swap');

:root{
    --font: 'Montserrat', Arial , sans-serif;
    --azul: #23F0C7;
    --branco: #ffffff;
    --anil: #171A26;
}   

/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
    transition: all ease-in-out .5s;
    list-style: none;
}

/* CONFIGURANDO O CORPO DA PÁGINA */
html, body{
    height: 100vh;
    width: 100vw ;
    background: linear-gradient(180deg, rgba(23,26,38,1) 70%, rgba(35,240,199,1) 100%) fixed;

    display: flex;
    align-items: center;
    flex-direction: column;
}

/* CONFIGURANDO O CABEÇALHO E O MENU DE NAVEGAÇÃO */
header{
    width: 90%;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
    padding: 5px 10px;
    background-color: var(--anil);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;    
}
.novo{
   height: 50px;
   overflow: visible;
   visibility: visible;
}
header h1{
    color: var(--branco);
    font-size: 1.6em;
}
header span{
    color: var(--branco);
    cursor: pointer;
}
header nav{
    display: flex;
    padding: 5px 10px;
    flex-basis:100% ;
    background-color: var(--anil);
    height: 0px;
    overflow: hidden;
    visibility: hidden;
}
header .visivel{
    height: 300px;
    overflow:auto;
    visibility: visible;
    position: relative;
    z-index: 999;
}
header li{
    padding: 10px 0px;
}
header li:hover{
    background-color: #161a29;
}
header a{
    width: 100%;
    height: 100%;
    color: var(--branco);
    text-decoration: none;
    font-size: 1.4em;
}
header a:hover{
    color: var(--azul);
}

/* CONFIGURANDO O CORPO DO SITE */
main {
    width: 90%;
    height: auto;
}
/* Configurando o bloco início */
main #inicio{
    width: 100%;
    height: auto;
    background: var(--anil) url(../arquivos/fundos/fundo_inicio_cell.jpg) center scroll;
    background-size: cover;
    padding: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}
main #inicio h1{
    margin-top: 10px;
    color: var(--branco);
    text-transform: uppercase;
    font-size: 2.5em;
}
main #inicio p{
    color: var(--azul);
    text-transform: capitalize;
    margin-top: 10px;
    text-shadow: 0px 0px 20px black;
}
main #inicio #perfil{
    width: 80%;
    max-width: 300px;
    border-radius: 50%;
    margin-top: 20px;
    align-self: center;
    box-shadow: 0px 0px 10px var(--azul);
}
main #inicio #icones{
    width: 100%;
    height: auto;
    margin-top: 20px;
}
main #inicio #icones ul{
    width: 100%;
    list-style: none;

    display: flex;
    justify-content: space-around;
}
 main #inicio #icones li img{
    width: 50px;
    border-radius: 50%;
}
/* Configurando o bloco Sobre mim */
main > h2{
    color: var(--azul);
    text-align: center;
    font-size: 2em;
    margin: 20px 0px;
    z-index: 1;
}
main #carreira{
    background-color: var(--anil);
    padding: 10px;
}
main #carreira p{
    color: white;
    font-size: 1.1em;
    text-align: justify;
}

/* Configurando o bloco Projetos */
main .container{
    width: 100%;
    height: auto;
    min-height: 100px;
    background-size: auto;
    border-radius: 8px;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .games{
    background: var(--anil) url(../arquivos/fundos/fundo_games_cell.jpg)center center no-repeat fixed;
}
main .business{
    background: var(--anil) url(../arquivos/fundos/fundo_business_cell.jpg)center no-repeat fixed;
}
main .extras{
    background: var(--anil) url(../arquivos/fundos/fundo_extras_cell.jpg)center no-repeat fixed;
}
main .container h2{
    color: var(--branco);
    text-transform: uppercase;
    text-shadow: 0px 0px 5px black;
    margin: 10px 0px;
    cursor: pointer;
}
main .album{
    width: 100%;
    height: 0;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .revelar{
    width: 100%;
    height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .card {
    width: 80%;
    margin: 5px 0px;
    background-color: var(--anil);
    border-radius: 10px;
}
main .card:hover{
    width: 95%;
    box-shadow: 0px 0px 5px var(--azul);
}
main .card img{
    width: 100%;
    border-radius: 10px 10px 0px 0px ;
}
main .card #info{
    padding: 10px;
}
main .card h3, main .card p{
    color: var(--branco);
    margin-bottom: 10px;
}
main .card button{
    background-color: var(--anil);
    color: var(--azul);
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    padding: 8px;
}
main .card button:hover{
    background-color: var(--azul);
    color: var(--anil);
}

/* Configurando o rodapé da página */


/* Configurações extras*/
::-webkit-scrollbar{
    width: 0;
}
