@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;900&family=Outfit&display=swap');

//variaveis
$font: 'Montserrat', Arial , sans-serif;
$azul: #23F0C7;
$branco: #ffffff;
$anil: #171A26;

//mixins
@mixin onlyBig{
    @media  screen and (min-width:992px) {
        @content;        
    }
}

@mixin noMobile{
    @media screen and (min-width: 600px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 600px) and (max-width: 767px) {
        @content;
    }
}

@mixin largTablet {
    @media screen and (min-width: 768px) and (max-width: 991px) {
        @content;
    }
}

@mixin monitores {
    @media screen and (min-width: 992px) and (max-width: 1200px) {
        @content;
    }
}

@mixin tvs {
    @media screen and (min-width:1201px) {
        @content;
    }
}

@import 'animacao.scss', 
        'geral.scss', 
        'header.scss', 
        'inicio-titulos.scss', 
        'carreira.scss', 
        'habilidades.scss', 
        'containers.scss', 
        'footer.scss';

@include tablet{

}
@include largTablet{

}
@include monitores{

}
@include tvs{

}
