@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;900&family=Outfit&display=swap');

$font: 'Montserrat', Arial , sans-serif;
$azul: #23F0C7;
$branco: #ffffff;
$anil: #171A26;

@import 'animacao.scss', 'media+1200.scss', 'media992-1200.scss', 'media768-992.scss', 'media600-768.scss', 'main.scss';

/* Configurações extras*/
::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar-thumb {
    display: none;
}
