body {
    background: linear-gradient(to top, rgb(45, 45, 204), rgb(2, 2, 25));
    height: 1000px;
}

header {}

h1 {
    color: white;
    text-align: center;
    font-size: 40pt;
}

section {}

div#titulo {
    color: white;
    font-size: 30pt;
    margin-left: 280px;
    margin-top: 50px;
    position: absolute;
}

div#texto {
    color: white;
    font-size: 15pt;
    margin-left: 280px;
    margin-top: 90px;
    position: absolute;
}

img {
    margin-top: 50px;
    width: 250px;
    border-radius: 200px;
    position: absolute;
}

footer {}